<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Provider</title>
    <style>
        .container form{
            margin-left: 25%;
            border: 1px solid black;
            margin-right: 25%;
        }
        h1{
            text-align: center;
        }
        .form{
           font-size: 20px;
           margin-left: 30%;
        }
        #button{
            margin-top: 20px;
            margin-left: 47%;
            font-size: 25px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Edit Provider</h1>
        <form action="/editProvider" method="post">
        <input type="hidden" name="id" value="{{provider._id}}">
        <div class="form">
            Name: <input type="text" name="txtName">
            <br>
            PhoneNumber: <input type="text" name="txtPhoneNo">
            <br>
            Email: <input type="text" name="txtEmail">
            <br>
            Address: <input type="text" name="txtAddress">
            <br>
            Picture: <input type="text" name="picture" size="50px">
            <br>
        </div>
        <input type="submit" value="Edit" id="button">
        </form>
    </div>
</body>
</html>