<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
    <style>
        .container form{
            margin-left: 25%;
            border: 1px solid black;
            margin-right: 25%;
        }
        h1{
            text-align: center;
        }
        .form{
           font-size: 20px;
           margin-left: 30%;
        }
        #button{
            margin-top: 20px;
            margin-left: 47%;
            font-size: 25px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Add New Product</h1>
        <form action="/newProduct" method="post">
            <div class="form">
            Name: <input type="text" name="txtName"> <span style="color: red;">{{error}}</span>
            <br>
            Price: <input type="text" name="txtPrice"> <span style="color: red;">{{errorPrice}}</span>
            <br>
            Description: <input type="text" name="txtDescription">
            <br>
            PictureURL: <input type="text" name="picURL" size="50px">
            <br> 
            Provider: <select name="provider">
                {{#each provider}}
                    <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
            <br>
        </div>
        <input type="submit" value="Insert" id="button">
    </form>
    </div>
</body>
</html>